/*
	Login CSS configuration of Rust-UCI(RUCI).
	SPDX-License-Identifier: WTFPL
*/

#username {
	position: absolute;
	left: calc(50% - 96px);
	top: calc(33% + 80px);
	width: 192px;
	font-size:1.5em;
	font-weight: 600;
	color: white;
	text-align: center;
	font-family: Arial, system-ui, sans-serif;
}

.avatar_container {
	display: flex;
	height:192px;
	width:192px;
	position: absolute;
	left: calc(50% - 96px);
	top: calc(33% - 96px);
}

#password_box {
	position: absolute;
	left: calc(50% - 129px - 0.8em);
	top: calc(55% - 8px);
	height: 32px;
	width: calc(290px - 1.6em);
	background-color: rgba(255, 255, 255, 0.2);
	padding: 2px 0.8em;
	border-radius: 3px;
	box-shadow: 0 2px gray;
	transition: box-shadow 0.3s;
}

#password_box:hover {
	box-shadow: 0 2px #00ace2;
}

#password_input {
	width: calc(258px - 1.6em);
	height: 32px;
	background-color: transparent;
	border: none;
	outline: none;
	background-clip: content-box;
}

#submit_button {
	width: 24px;
	height: 24px;
	padding: 4px;
	fill: white;
}

#password_box ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}

#background_blur {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	transition: filter 0.3s;
	background-image:url(../images/defaultbackground.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:fixed;
}
